<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto de prueba</title>
</head>
<body>
    <h4>Soy un h4</h4>
    <h1>El Título de nuestro documento</h1>
    <h2>Un subtítulo cualquiera</h2>
    <img src="/images/gato.webp" alt="gato respeto">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deleniti eligendi, ratione consectetur dolor quos optio quasi dolore provident quis. Nam, ipsam modi quaerat possimus nesciunt iusto incidunt beatae provident?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, id? Itaque odit accusamus debitis facilis veritatis aspernatur optio rem earum, atque incidunt sunt ipsum et distinctio, autem tempore, ab quod?</p>

<ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>





</body>
</html>