<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto de prueba</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/f849052f17.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">
            <h2 class="copy-bar">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#"> Ofertas </a></li>
                <li><a href="#"> Tiendas Oficiales </a></li>
                <li><a href="#"> Vender </a></li>
                <li><a href="#"> Ayuda </a></li>            
            </ul>

            <ul class="right-navbar">
                <li><a href="#"> Creá tu cuenta <i class="far fa-address-card"></i></i> </a></li>
                <li><a href="#"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
</header>
<!-- Formulario -->
<form action="/crear-priducto" method="POST" class="create-formulario">
     <div class="control-formulario">
        <label for="nombre">Nombre del producto:</label>
        <input type="text" id="nombre" name="nombre" class="control">
    </div>
     <div class="control-formulario">
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" class="control">
    </div>
     <div class="control-formulario">
        <label for="cat">Categoría</label>
        <select name="categoria" id="cat" class="control">
            <option value="hogar">Hogar</option>
            <option value="electro">Electro</option>
            <option value="indumenteria">Indumentaria</option>
        </select>
    </div>
     <div class="control-formulario">
        <label for="ciudad ">ciudad</label>
        <select name="categoria" id="ciudad" class="control">
            <option value="bsas">Buenos Aires</option>
            <option value="ros">Rosario</option>
            <option value="mdz">Mendoza</option>
        </select>
    </div>
     <div class="control-formulario">
        <label for="desc">Descripción:</label>
        <textarea name="descripcion" id="desc" class="control"></textarea>
    </div>
     <div class="control-formulario">
        <label for="oferta">Está en oferta:</label>
        <input type="radio" id="oferta" name="oferta" >
    </div>
    <div class="botones">
        <button type="reset"class="boton-formulario">Borrar</button>
        <button type="submit"class="boton-formulario">Guardar</button>
    </div>
    


</form>
   


</body>
</html>