body {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 50px;
    font-weight: 300;
}
h2 {
    font-size: 20px;
}
p{
    font-size: 17px;
    line-height: 24px;
}
.parrafo-destacado{
    color: salmon;
    font-size: 30px;
    line-height: 38px;
}
strong{
    color: green;
}

p strong{
    background-color: orange;
    color: white;
    font-style: italic;
}

.parrafo-destacado em {
    color: red;
    text-transform: uppercase;
}